<div class="container contentWrapper">


    <!-- testing -->
    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">

            <h3>Entities</h3>
            <ul class="nav nav-tabs">
                <li><a href="#/profile">Users</a></li>
                <li><a href="#/">Favors</a></li>
                <li class="active"><a href="#/favor">Reports & Comments</a></li>
                <li><a href="#/friend">Friends</a></li>
                <li><a href="#/community">Community</a></li>
                <li><a href="#/map">Maps API</a></li>
            </ul>
            <br/>
            <h3><span class="text-danger">CRUD</span> Reports for Joined Favor (with id 1111)</h3>
            <br/>
            <label class="control-label">Select a user to display his/her reports for joined favor(with id 1111)</label>
            <select ng-change="showReports(user._id)" ng-model="user" ng-options="user.username for user in users" class="form-control"></select>
            <br/>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>favor_id</th>
                        <th>userId</th>
                        <th>report_id</th>
                        <th>date</th>
                        <th>content</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>1111</td>
                        <td>{{user._id}}</td>
                        <td></td>
                        <td>
                            <div class="form-group date" style="width:150px;">
                                <div date-picker class="input-group input-append date datePicker">
                                    <input ng-model="report.date" type="text" class="form-control" name="date">
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input ng-model="report.content" class="form-control" type="text">
                        </td>

                        <td><button ng-click="createReport(report)">Add</button></td>
                        <td><button ng-click="updateReport(report)">Update</button></td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="report in reports">
                        <td>{{report.favorId}}</td>
                        <td>{{report.userId}}</td>
                        <td>{{report._id}}</td>
                        <td>{{report.date}}</td>
                        <td>{{report.content}}</td>

                        <td><button ng-click="editReport($index)">Edit</button></td>
                        <td><button ng-click="deleteReport($index, report._id)">Del</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br/>
            <h3><span class="text-danger">Comment</span> on a User's (with id 111) Favor (with id 1111)</h3>
            <br/>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>comment_id</th>
                        <th>hostId</th>
                        <th>favor_id</th>
                        <th>date</th>
                        <th>commenter</th>
                        <th>comment</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>111</th>
                        <th>1111</th>
                        <th></th>
                        <th>
                            <select ng-model="commenter" ng-options="user.username for user in users" class="form-control"></select>

                        </th>
                        <th><input ng-model="comment.reply" type="text" class="form-control"></th>
                        <th><button ng-click="makeComment(comment)">comment</button></th>

                    </tr>
                    <tr>
                        <th colspan="5"></th>
                        <th colspan="2" style="padding:0">
                            <table class="table table-bordered" style="margin:0">
                                <thead>
                                <tr>
                                    <th colspan="5">{{comment.comment}}</th>
                                </tr>
                                <tr>
                                    <td>replierId</td>
                                    <td>hostId</td>
                                    <td>date</td>
                                    <td>reply</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select ng-model="replier" ng-options="user.username for user in users" class="form-control" style="width: 80px;"></select>
                                    </td>
                                    <td>{{reply.hostId}}</td>
                                    <td></td>
                                    <td>
                                        <input ng-model="reply.reply" type="text" class="form-control" style="width: 80px;">
                                    </td>
                                    <td><button ng-click="makeReply(reply)">reply</button></td>
                                </tr>
                                </thead>
                            </table>
                        </th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr ng-repeat="comment in comments">
                        <td>{{comment._id}}</td>
                        <td>{{comment.hostId}}</td>
                        <td>{{comment.favorId}}</td>
                        <td>{{comment.date}}</td>
                        <td>{{comment.commenterId}}</td>
                        <td colspan="2" style="padding:0">
                            <table class="table table-bordered" style="margin:0">
                                <thead>
                                    <tr>
                                        <th colspan="4">{{comment.comment}}</th>
                                        <th>
                                            <button ng-click="requestReply(comment._id, comment.hostId)">request reply</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>replierId</td>
                                        <td>hostId</td>
                                        <td>date</td>
                                        <td>reply</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="reply in comment.replies">
                                        <td>{{reply.replierId}}</td>
                                        <td>{{reply.hostId}}</td>
                                        <td>{{reply.date}}</td>
                                        <td>{{reply.reply}}</td>
                                        <td><button ng-click="requestReply(comment._id, reply.replierId)">request reply</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- testing -->



    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>My Favor 1 &nbsp;
                <button ng-click="showNewPost()" class="btn tagBtn">
                    <span class="glyphicon glyphicon-plus plusIcon"></span> Post
                </button>
                <button ng-click="disjoin()" class="btn tagBtn">
                    <span class="glyphicon glyphicon-remove plusIcon"></span> Disjoin
                </button>
            </h3>
            <p ng-show="!join" class="alert alert-danger">
                <span>Are you Sure?</span><br/>
                <span class="text-primary deleteText">disjoin</span> or
                <span class="text-primary deleteText">cancel</span>
            </p>
            <p><span class="text-info">Michael</span> posted on Feb 2, 2016</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>

        <div ng-show="newPost" class="col-xs-12 noPadding horizontalLine">
            <h4 class="newPostTitle">{{newPostDate}} <span class="text-grey">(New Post)</span>
            </h4>

            <form>

                <div class="editArea form-group">
                    <span class="glyphicon glyphicon-picture"></span>
                    <textarea class="form-control noBorder" rows="9" placeholder="write content here"></textarea>
                </div>

                <div class="row">
                    <div class="col-xs-6 text-align-left">
                        <button type="submit" class="btn submitBtn">Post</button>
                    </div>
                    <div class="col-xs-6 text-align-right">
                        <button ng-click="notShowNewPost()" type="button" class="btn cancelBtn">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xs-12 noPadding horizontalLine">
            <div>
                <h4>{{title1}} &nbsp;
                    <button ng-click="showEdit()" class="btn tagBtn">
                        <span class="glyphicon glyphicon-pencil plusIcon"></span> Edit
                    </button>
                    <button ng-show="edit" class="btn tagBtn">
                        <span class="glyphicon glyphicon-remove plusIcon"></span> Delete
                    </button>
                </h4>
                <p>{{content1}}</p>
            </div>

            <form ng-show="edit">
                <br />
                <h4 class="text-info">Please edit below</h4>
                <div class="editArea form-group">
                    <span class="glyphicon glyphicon-picture"></span>
                    <textarea ng-model="content1" class="form-control noBorder" rows="9" placeholder="write content here"></textarea>
                </div>

                <div class="row">
                    <div class="col-xs-6 text-align-left">
                        <button type="submit" class="btn submitBtn">Update</button>
                    </div>
                    <div class="col-xs-6 text-align-right">
                        <button ng-click="notShowEdit()" type="button" class="btn cancelBtn">Cancel</button>
                    </div>
                </div>
            </form>
        </div>


    </div>



    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Comments</h3>
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="4" placeholder="leave a comment"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn submitBtn" value="Comment">
                </div>
            </form>

            <div class="commentDiv">
                <span class="text-info">Jason</span>&nbsp;&nbsp;<span>posted at 14:03, Mar 3'16</span>&nbsp;&nbsp;<span class="reply">reply</span>
                <br/>
                <span>Jason's comment here</span>
            </div>


            <div class="replyDiv">
                <div class="replyDiv1">
                    <span class="glyphicon glyphicon-triangle-top"></span>
                </div>
                <div class="replyDiv2">
                    <span class="text-info">Peter</span>:&nbsp;&nbsp;<span>Peter's reply</span>&nbsp;&nbsp;<span class="reply">reply</span><br/>
                    <span class="text-info">Jason</span>&nbsp;@&nbsp;<span class="text-info">Peter</span>:&nbsp;&nbsp;<span>Jason's reply</span>&nbsp;&nbsp;<span class="reply">reply</span><br/>
                </div>
            </div>

            <div class="commentDiv">
                <span class="text-info">David</span>&nbsp;&nbsp;<span>posted at 10:03, Mar 2'16</span>&nbsp;&nbsp;<span class="reply">reply</span>
                <br/>
                <span class="comment">David's comment here</span>
            </div>
        </div>
    </div>

</div>



