<div class="container contentWrapper">

    <!-- page holder's profile -->
    <div class="row primaryContent">
        <div class="col-sm-12 noPadding">
            <img src="./images/profilePhoto.png" id="homePhoto" alt="home photo">
            <span id="homeHolder"><b>{{(viewedUser.username)}}</b></span>&nbsp;&nbsp;&nbsp;
            <button ng-hide="isFriend" ng-click="addFriend(viewedUser._id)" class="btn tagBtn"></span>Add Friend</button>
            <br />
            <p><b>Description</b>: {{viewedUser.description}}&nbsp;&nbsp;
                <br/><a href="#/{{viewedUser._id}}/profile"><span class="text-info">More Info</span></a>
            </p>
        </div>
    </div>

    <!-- only show for coordinators -->
    <div ng-show="isCoordinator" class="row primaryContent">

        <div class="col-xs-12 noPadding">
            <h3>Add a New Favor? &nbsp;
                <button ng-click="showNewPost()" ng-show="!newPost" class="btn tagBtn">
                    <span class="glyphicon glyphicon-plus plusIcon"></span> Favor
                </button>
            </h3>
        </div>

        <div ng-show="newPost" class="col-xs-12 noPadding horizontalLine">
            <br/>
            <form novalidate>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <input ng-model="newFavor.title" type="text" class="form-control" placeholder="Title" required>
                    </div>
                    <div class="col-sm-4 form-group select">
                        <select ng-model="newFavor.tagId" class="form-control" required>
                            <option value="" disabled selected>Select a Favor Category</option>
                            <option value="1">Friendly Visiting</option>
                            <option value="2">Friendly Helper</option>
                            <option value="3">Medical Escort</option>
                            <option value="4">PetPals</option>
                            <option value="5">Music Works</option>
                        </select>
                        <i class="fa fa-sort addon"></i>
                    </div>
                    <div class="col-sm-4 form-group">
                        <input ng-model="newFavor.address" type="text" class="form-control" placeholder="Set Place" required>
                    </div>
                </div>
                <div class="editArea form-group">
                    <span class="glyphicon glyphicon-picture"></span>
                    <textarea ng-model="newFavor.content" class="form-control noBorder" rows="7" placeholder="write content here" required></textarea>
                </div>

                <div class="row">
                    <div class="col-xs-6 text-align-left">
                        <button ng-click="createFavor(newFavor)" type="submit" class="btn submitBtn">Add</button>
                    </div>
                    <div class="col-xs-6 text-align-right">
                        <button ng-click="showNewPost()" type="button" class="btn cancelBtn">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <!--all joined favors -->
    <div ng-show="favors.length == 0" class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <span class="lead">You have no joined favors now..</span><br/>
            <span class="lead">Go to <a class="text-info" href="#/community">community</a> to join!</span>
        </div>
    </div>

    <div ng-repeat="favor in favors" class="row primaryContent">
        <div class="col-xs-12 noPadding">

            <h3>{{favor.title}} &nbsp;
                <a href="#/{{viewedUserId}}/favors/{{favor._id}}" class="btn tagBtn"></span> More</a>
            </h3>
            <p>
                <a href="#/{{favor.coordinatorId}}/favors"><span class="text-info">{{(favor.coordinator)}}</span></a>
                posted on {{getLiteralDate(favor.date)}}
            </p>
            <p>{{favor.content}}</p>
        </div>
    </div>


</div>


