<div class="container contentWrapper">
    <div class="row primaryContent">
        <div class="col-xs-12">

            <div class="row ">
                <div class="col-sm-3 col-xs-6">
                    <div class="friendPhotoWrapper">
                        <img src="./images/profilePhoto.png" class="friendPhoto" alt="profile photo">
                        <p class="text-center">John</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="friendPhotoWrapper">
                        <img src="./images/profilePhoto.png" class="friendPhoto" alt="profile photo">
                        <p class="text-center">Lee</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="friendPhotoWrapper">
                        <img src="./images/profilePhoto.png" class="friendPhoto" alt="profile photo">
                        <p class="text-center">Peter</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="friendPhotoWrapper">
                        <img src="./images/profilePhoto.png" class="friendPhoto" alt="profile photo">
                        <p class="text-center">Amy</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="friendPhotoWrapper">
                        <img src="./images/profilePhoto.png" class="friendPhoto" alt="profile photo">
                        <p class="text-center">Amy</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>