<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-4 col-xs-10 col-xs-offset-1">
            <br />
            <h2 class="text-center">Please Login</h2>
            <br />
            <form novalidate>

                <div class="form-group">
                    <input type="type" class="form-control" id="loginUsername" placeholder="Username" required>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="loginPassword" placeholder="Password" required>
                </div>

                <div class="form-group">
                    <input type="submit" class="form-control btn submitBtn" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>