<div class="container contentWrapper">

   <!-- display profile -->
    <div class="row primaryContent">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>Profile</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="profilePhotoWrapper">
                        <img src="./images/profilePhoto.png" id="profilePhoto" alt="profile photo">
                        <br />
                    </div>
                </div>

                <div class="col-sm-6 col-sm-offset-1">
                    <form class="form-horizontal" novalidate>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <span class="successMessage">{{updateMessage}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profileUsername">Username:</label>
                            <div class="col-sm-9">
                                <input ng-show="hasAccess"  ng-model="currentUser.username" type="text" class="form-control"
                                       id="profileUsername" placeholder="Username" disabled>
                                <span ng-show="!hasAccess" class="form-control profileText">{{currentUser.username}}</span>
                            </div>
                        </div>
                        <div ng-show="hasAccess" class="form-group">
                            <label class="col-sm-3 control-label">Password:</label>
                            <div class="col-sm-9">
                                <input ng-show="hasAccess" ng-model="password"
                                       type="password" class="form-control" id="profilePassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profileFName">First Name:</label>
                            <div class="col-sm-9">
                                <input ng-show="hasAccess" ng-model="currentUser.firstName" type="text" class="form-control" id="profileFName" placeholder="First Name">
                                <span ng-show="!hasAccess" class="form-control profileText">{{currentUser.firstName}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profileLName">Last Name:</label>
                            <div class="col-sm-9">
                                <input ng-show="hasAccess" ng-model="currentUser.lastName" type="text" class="form-control" id="profileLName" placeholder="Last Name">
                                <span ng-show="!hasAccess" class="form-control profileText">{{currentUser.lastName}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profileCity">City:</label>
                            <div class="col-sm-9">
                                <input ng-show="hasAccess" ng-model="currentUser.city" type="text" class="form-control" id="profileCity" placeholder="City">
                                <span ng-show="!hasAccess" class="form-control profileText">{{currentUser.city}}</span>
                            </div>
                        </div>
                        <div ng-show="hasAccess" class="form-group">
                            <label class="col-sm-3 control-label" for="profilePhone">Phone:</label>
                            <div class="col-sm-9">
                                <input ng-model="currentUser.phone" type="text" class="form-control" id="profilePhone" placeholder="Phone">
                            </div>
                        </div>
                        <div ng-show="hasAccess" class="form-group has-feedback">
                            <label class="col-sm-3 control-label" for="profileEmail">Email:</label>
                            <div class="col-sm-9">
                                <input ng-model="currentUser.email" ng-change="checkEmail(currentUser.email)"
                                       type="email" class="form-control" id="profileEmail" placeholder="Email" required>
                                <span ng-class="{'glyphicon-warning-sign':emailWarning}"
                                      class="glyphicon form-control-feedback"></span>
                                <span class="errorMessage">{{emailMessage}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description:</label>
                            <div class="col-sm-9">
                                <textarea ng-show="hasAccess" ng-model="currentUser.description" class="form-control" rows="3" placeholder="Description"></textarea>
                                <span ng-show="!hasAccess" class="form-control profileText">{{currentUser.description}}</span>
                            </div>
                        </div>

                        <div ng-show="hasAccess" class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <input ng-click="updateProfile(currentUser)" type="submit" class="form-control btn submitBtn" value="Update">
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>