<div class="container contentWrapper">

    <!-- testing -->
    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">

            <h3>Entities</h3>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#/profile">Users</a></li>
                <li><a href="#/">Favors</a></li>
                <li><a href="#/favor">Reports & Comments</a></li>
                <li><a href="#/friend">Friends</a></li>
                <li><a href="#/community">Community</a></li>
                <li><a href="#/map">Maps API</a></li>
            </ul>
            <br/>
            <h3><span class="text-danger">CRUD</span> Operations for All Users</h3>
            <br/>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>_id</th>
                        <th>username</th>
                        <th>password</th>
                        <th>firstname</th>
                        <th>lastname</th>
                        <th>dob</th>
                        <th>city</th>
                        <th>phone</th>
                        <th>email</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input ng-model="user.username" class="form-control" type="text"></td>
                        <td><input ng-model="user.password" class="form-control" type="password"></td>
                        <td><input ng-model="user.firstName" class="form-control" type="text"></td>
                        <td><input ng-model="user.lastName" class="form-control" type="text"></td>
                        <td>
                            <div class="form-group date">
                                <div date-picker class="input-group input-append date datePicker">
                                    <input ng-model="user.dob" type="text" class="form-control" name="date">
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </td>
                        <td><input ng-model="user.city" class="form-control" type="text"></td>
                        <td><input ng-model="user.phone" class="form-control" type="tel"></td>
                        <td><input ng-model="user.email" class="form-control" type="email"></td>
                        <td><button ng-click="createUser()">Add</button></td>
                        <td><button ng-click="updateUser()">Update</button></td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user._id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.dob}}</td>
                        <td>{{user.city}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.email}}</td>
                        <td><button ng-click="editUser($index)">Edit</button></td>
                        <td><button ng-click="deleteUser($index, user._id)">Del</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- testing -->

    <div class="row primaryContent">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <h3>Profile</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="profilePhotoWrapper">
                        <img src="./images/profilePhoto.png" id="profilePhoto" alt="profile photo">
                        <br />
                        <button class="profilePhotoBtn">change</button>
                    </div>
                </div>

                <div class="col-sm-7">
                    <form class="form-horizontal" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profileUsername">Username:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="profileUsername" placeholder="Username" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profilePassword">Password:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="profilePassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profileFName">First Name:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="profileFName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profileLName">Last Name:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="profileLName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profileDOB">DOB:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="profileDOB" placeholder="Date of Birth">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profileCity">City:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="profileCity" placeholder="City">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profilePhone">Phone:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="profilePhone" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="profileEmail">Email:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="profileEmail" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <input type="submit" class="form-control btn submitBtn" value="Update">
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>