<div class="container contentWrapper">
    <div class="row primaryContent">

        <div class="col-xs-12 noPadding">
            <h3>My Favor</h3>
            <form>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Title">
                    </div>
                </div>

                <div class="editArea form-group">
                    <span class="glyphicon glyphicon-picture"></span>
                    <textarea class="form-control noBorder" rows="9" placeholder="write content here"></textarea>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn submitBtn" value="Post">
                </div>
            </form>
        </div>

    </div>
</div>

