<div class="container contentWrapper">

    <div class="row primaryContent">
        <div class="col-xs-12">

            <div class="row">
                <div ng-show="hasFriend">
                    <span class="lead">You have no friends now..</span>
                </div>
                <div ng-repeat="friend in friends" class="col-sm-4 col-xs-6">
                    <div class="friendPhotoWrapper">
                        <img src="./images/profilePhoto.png" class="friendPhoto" alt="profile photo">
                        <p class="text-center text-info friendPhotoText">
                            <a href="#/{{friend.friendId}}/favors">{{friend.friend}}</a>
                        </p>
                        <span ng-show="hasAccess" ng-click="unFriend(friend, $index)" class="glyphicon glyphicon-remove-circle"></span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>