<div class="container contentWrapper">

    <!-- testing -->
    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">

            <h3>Entities</h3>
            <ul class="nav nav-tabs">
                <li><a href="#/profile">Users</a></li>
                <li><a href="#/">Favors</a></li>
                <li><a href="#/favor">Reports & Comments</a></li>
                <li><a href="#/friend">Friends</a></li>
                <li class="active"><a href="#/community">Community</a></li>
                <li><a href="#/map">Maps API</a></li>
            </ul>
            <br/>
            <h3><span class="text-danger">Display</span> All Favors Created by the Coordinators</h3>
            <br/>
            <label class="control-label">Select a category to show related favors</label>
            <select ng-change="showFavors(tag._id)" ng-model="tag" ng-options="tag.title for tag in tags" class="form-control"></select>
            <br/>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>favor_id</th>
                        <th>title</th>
                        <th>coordinator</th>
                        <th>date</th>
                        <th>content</th>
                        <th>category</th>
                    </tr>
                   </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="favor in favors | orderBy: 'date':true">
                        <td>{{favor._id}}</td>
                        <td><button ng-click="favorDetail(favor._id)" class="btn linkBtn">{{favor.title}}</button></td>
                        <td>{{getUsernameById(favor.coordinatorId)}}</td>
                        <td>{{favor.date}}</td>
                        <td>{{favor.content}}</td>
                        <td>{{getTagById(favor.tagId)}}</td>
                         </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- testing -->


    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Category</h3>
            <button class="btn tagBtn clickedBtn">All</button>
            <button class="btn tagBtn">Friendly Visiting</button>
            <button class="btn tagBtn">Friendly Helper</button>
            <button class="btn tagBtn">Medical Escort</button>
            <button class="btn tagBtn">PetPals</button>
            <button class="btn tagBtn">Music Works</button>

        </div>
    </div>

    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Favor 1 &nbsp;
                <a href="#/community/favor" class="btn tagBtn"></span> View</a>
            </h3>
            <p><span class="text-info">Edward</span> posted on Feb 2, 2016</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>

    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Favor 2 &nbsp;
                <a href="#/community/favor" class="btn tagBtn"></span> View</a>
            </h3>
            <p><span class="text-info">Michael</span> posted on Feb 2, 2016</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>

    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Favor 3 &nbsp;
                <a href="#/community/favor" class="btn tagBtn"></span> View</a>
            </h3>
            <p><span class="text-info">Mia</span> posted on Feb 2, 2016</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>

</div>

