<div class="container contentWrapper">


    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Category</h3>
            <button class="btn tagBtn clickedBtn">All</button>
            <button class="btn tagBtn">Friendly Visiting</button>
            <button class="btn tagBtn">Friendly Helper</button>
            <button class="btn tagBtn">Medical Escort</button>
            <button class="btn tagBtn">PetPals</button>
            <button class="btn tagBtn">Music Works</button>

        </div>
    </div>

    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Favor 1 &nbsp;
                <a href="#/community/favor" class="btn tagBtn"></span> View</a>
            </h3>
            <p><span class="text-info">Edward</span> posted on Feb 2, 2016</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>

    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Favor 2 &nbsp;
                <a href="#/community/favor" class="btn tagBtn"></span> View</a>
            </h3>
            <p><span class="text-info">Michael</span> posted on Feb 2, 2016</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>

    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Favor 3 &nbsp;
                <a href="#/community/favor" class="btn tagBtn"></span> View</a>
            </h3>
            <p><span class="text-info">Mia</span> posted on Feb 2, 2016</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>

</div>

