<div class="container contentWrapper">


    <!-- testing -->
    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">

            <h3>Entities</h3>
            <ul class="nav nav-tabs">
                <li><a href="#/profile">Users</a></li>
                <li><a href="#/">Favors</a></li>
                <li><a href="#/favor">Reports & Comments</a></li>
                <li><a href="#/friend">Friends</a></li>
                <li class="active"><a href="#/community">Community</a></li>
                <li><a href="#/map">Maps API</a></li>
            </ul>
            <br/>
            <h3><span class="text-danger">Select</span> A User to Join Below Favor</h3>
            <br/>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>favor_id</th>
                        <th>title</th>
                        <th>coordinator</th>
                        <th>date</th>
                        <th>content</th>
                        <th>category</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>{{favor._id}}</td>
                        <td>{{favor.title}}</td>
                        <td>{{getUsernameById(favor.coordinatorId)}}</td>
                        <td>{{favor.date}}</td>
                        <td>{{favor.content}}</td>
                        <td>{{getTagById(favor.tagId)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br/>
            <label class="control-label">Join request from</label>
            <select ng-model="user" ng-change="joinFavor(user._id)" ng-options="user.username for user in users" class="form-control"></select>
            <br />

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>joined users</th>
                        <th>users requesting to join</th>
                    </thead>
                    <tbody>
                        <td>
                            <ul ng-repeat="user in joinedUsers">
                                <li ng-if="user.joined">{{getUsernameById(user.userId)}}
                                    <button ng-click="disjoinFavor(user.userId)">disjoin</button>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul ng-repeat="user in joinedUsers">
                                <li ng-if="!user.joined">{{getUsernameById(user.userId)}}
                                    <button ng-click="agreeJoin(user.userId)">agree</button>
                                    <button ng-click="rejectJoin(user.userId)">reject</button>
                                </li>
                            </ul>
                        </td>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <!-- testing -->




    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Favor 1 &nbsp;<button class="btn tagBtn">
                <span class="glyphicon glyphicon-plus plusIcon"></span> Join</button>
            </h3>
            <p><span class="text-info">Michael</span> posted on Feb 2, 2016</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>

            <div>
                <br />
                <h4>Joined Members</h4>
                <p>
                    <span class="text-info">Peter</span>&nbsp;
                    <span class="text-info">Emily</span>&nbsp;
                    <span class="text-info">Jacky</span>&nbsp;
                </p>
            </div>


            <h4 class="joinRequest">Join Requests</h4>

            <div class="row">
                <div class="col-xs-7">
                    <span class="text-info">John</span> <span>requested to join this favor</span>
                </div>
                <div class="col-xs-5">
                    <button class="acceptBtn">Accept</button>&nbsp;&nbsp;<button class="rejectBtn">Reject</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-7">
                    <span class="text-info">Lee</span> <span>requested to join this favor</span>
                </div>
                <div class="col-xs-5">
                    <button class="acceptBtn">Accept</button>&nbsp;&nbsp;<button class="rejectBtn">Reject</button>
                </div>
            </div>


        </div>
    </div>

    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Comments</h3>
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="4" placeholder="leave a comment"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn submitBtn" value="Comment">
                </div>
            </form>

            <div class="commentDiv">
                <span class="text-info">Jason</span>&nbsp;&nbsp;<span>posted at 14:03, Mar 3'16</span>&nbsp;&nbsp;<span class="reply">reply</span>
                <br/>
                <span>Jason's comment here</span>
            </div>


            <div class="replyDiv">
                <div class="replyDiv1">
                    <span class="glyphicon glyphicon-triangle-top"></span>
                </div>
                <div class="replyDiv2">
                    <span class="text-info">Peter</span>:&nbsp;&nbsp;<span>Peter's reply</span>&nbsp;&nbsp;<span class="reply">reply</span><br/>
                    <span class="text-info">Jason</span>&nbsp;@&nbsp;<span class="text-info">Peter</span>:&nbsp;&nbsp;<span>Jason's reply</span>&nbsp;&nbsp;<span class="reply">reply</span><br/>
                </div>
            </div>

            <div class="commentDiv">
                <span class="text-info">Jason</span>&nbsp;&nbsp;<span>posted at 14:03, Mar 3'16</span>&nbsp;&nbsp;<span class="reply">reply</span>
                <br/>
                <span class="comment">Jason's comment here</span>
            </div>
        </div>
    </div>



</div>


