<div class="container contentWrapper">
    <div class="row primaryContent">

        <div class="col-xs-12 noPadding">
            <h3>My Favor 1 &nbsp;<button class="btn tagBtn">
                <span class="glyphicon glyphicon-plus plusIcon"></span> Update</button>
            </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="col-xs-12 noPadding horizontalLine">
            <h4>Feb. 2, 2016</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>

        <div class="col-xs-12 noPadding horizontalLine">
            <h4>Feb. 1, 2016</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>

    </div>
</div>

<div class="container contentWrapper">
    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">
            <h3>Comment</h3>
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="4" placeholder="leave a comment"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn submitBtn" value="Comment">
                </div>
            </form>
        </div>
    </div>
</div>

