<div class="container contentWrapper">

    <!-- testing -->
    <div class="row primaryContent">
        <div class="col-xs-12 noPadding">

            <h3>Entities</h3>
            <ul class="nav nav-tabs">
                <li><a href="#/profile">Users</a></li>
                <li><a href="#/">Favors</a></li>
                <li><a href="#/favor">Reports & Comments</a></li>
                <li><a href="#/friend">Friends</a></li>
                <li><a href="#/community">Community</a></li>
                <li class="active"><a href="#/map">Maps API</a></li>
            </ul>
            <br/>


            <div class="form-group row">
                <div class="col-xs-9">
                    <label>input address to get results</label>
                    <input ng-model="address" type="text" class="form-control" placeholder="address">
                </div>
                <div class="col-xs-3">
                    <label>&nbsp;</label>
                    <input ng-click="getP(address)" class="form-control btn btn-primary" type="button" value="submit">
                </div>
            </div>

            <br />
            <h4 class="text-danger">Results</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="result in results">
                            <td>{{result.formatted_address}}</td>
                            <td><input ng-click="mapDetial(result)" type="button" class="btn btn-primary" value="View Detail"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br />
            <h4 class="text-danger">Details</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>place</th>
                        <th>county</th>
                        <th>state</th>
                        <th>country</th>
                        <th>Latitude</th>
                        <th>Longitude</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{detail.name}}</td>
                        <td>{{detail.county}}</td>
                        <td>{{detail.state}}</td>
                        <td>{{detail.country}}</td>
                        <td>{{place.geometry.location.lat}}</td>
                        <td>{{place.geometry.location.lng}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="row primaryContent">
                <div class="col-xs-12 noPadding">
                    <div id="googleMap"></div>
                </div>
            </div>

        </div>
    </div>
    <!-- testing -->


</div>

